@model Bloggie.Web.Models.ViewModels.AddTagRequest // this tells ASP.NET  @model is the model for the below view ... and this is called "Model Biding" and we are collecting the Data from the below view to render in the Model name mentioned



<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add New Tag - Admin Functionality</h1>
        </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb=3">

        <label class="form-label">Name</label>
        <input type="text" class="form-control" id="name" asp-for="Name"/>
        </div>

        <div class="mb=3">

            <label class="form-label">Display Name</label>
            <input type="text" class="form-control" id="DisplayName" asp-for="DisplayName"/>
        </div>
        <div class="mb-3 mt-3">
        <button type ="submit" class="btn btn-dark">Submit </button>
        </div>
    </form>
</div>